@import url(http://fonts.googleapis.com/css?family=Cagliostro);

.myfont {
    font-family: Cagliostro, sans-serif;
}

body {
}

.center {
    left: 150px;
    width: 800px;
    margin: 100px;
}

.showcode {
    background-color: #F5F9FF;
    font-family: Cagliostro, sans-serif;
    font: bold;
}

.showref {
    background-color: #FFF5FF;
    font-family: Cagliostro, sans-serif;
}

.nvbar {
    background-color: #003366;
}


.mycolor {
    background-color: #55443D;
    color: #FFFFFF;
    font: bold;
}

    .mycolor:hover {
        background-color: #F38A8A;
        color: #FFFFFF;
        font: bold;
    }

.imgstyle {
    width: 200px;
    height: 200px;
}


.videostyle {
    width: 350px;
    height: 250px;
}


.scrollToTop {
    width: 10%;
    height: 30%;
    position: fixed;
    bottom: 45px;
    right: 35px;
    display: none;
    background: url('../../images/image/upsign.png') no-repeat 0px 20px;
}

    .scrollToTop:hover {
        zoom: 110%;
    }