body {
}
        .center {
            left: 150px;
            width: 800px;
            margin: 100px;
        }

        .showcode {
            background-color: #F5F9FF;
        }

        .showref {
            background-color: #FFF5FF;
        }

        .nvbar {
        
        background-color: #003366;
        
        
        
        
        }
