.smenu-toggle {
    display: none;
}
.s-menu-toggle {
    left: -999px;
    position: absolute;
    top: -999px;
}
@media handheld, screen and (max-width: 480px) { 
    .smenu-toggle,
    .s-menu-toggle-button,
    .s-toggleable-menu {
        top: 0;
        position: fixed;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .smenu-toggle {
        left: 0;
        margin: 0;
        display: inline-block;
        width: 15%;
        z-index: 999;
    }
    .smenu-toggle:hover {
        cursor: pointer;
    }
    .s-toggleable-menu {
        margin: 0;
        width: 85%;
        height: 100%;
        max-height: 100%;
        min-height: 100%;
        z-index: 998;
        overflow: hidden;
    }
    .s-toggleable-menu.s-left {
        left: -105%;
    }
    .s-menu-toggle-button:checked ~ .smenu-toggle.s-left {
        left: auto;
        right: 0;
    }
    .s-menu-toggle-button:checked + .s-toggleable-menu.s-left {
        width: 85% !important;
        left: 0;
    }
   
}
